In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
file_path = r'C:\Users\lour2\Desktop\LOURDES\data science\Proyecto Machine Learning\my_model.pkl'



with open(file_path, 'rb') as archivo_entrada:    #rb 'read bytes'
    modelo_importado = pickle.load(archivo_entrada)

In [3]:
df = pd.read_csv(r'C:\Users\lour2\Desktop\LOURDES\data science\Proyecto Machine Learning\data\processed\X_train_data.csv')

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.881078,-0.882690,-0.528699,1.010604,-0.875800,1.123151,-0.983902,-1.095853,-0.562826,-0.879784,0.879784
1,-1.284263,1.132901,-0.528699,1.010604,1.141814,1.123151,1.016361,0.912532,-0.562826,-0.879784,0.879784
2,-0.793997,-0.882690,1.891436,-0.989507,-0.875800,-0.890352,-0.983902,-1.095853,-0.562826,1.136643,-1.136643
3,-0.344587,1.132901,-0.528699,1.010604,1.141814,-0.890352,1.016361,-1.095853,1.776747,-0.879784,0.879784
4,-1.079985,1.132901,-0.528699,-0.989507,1.141814,1.123151,1.016361,0.912532,-0.562826,-0.879784,0.879784
...,...,...,...,...,...,...,...,...,...,...,...
7265,-1.284263,-0.882690,-0.528699,1.010604,1.141814,-0.890352,1.016361,0.912532,-0.562826,-0.879784,0.879784
7266,-0.666905,1.132901,-0.528699,1.010604,-0.875800,-0.890352,-0.983902,0.912532,-0.562826,-0.879784,0.879784
7267,0.194243,1.132901,-0.528699,1.010604,1.141814,-0.890352,-0.983902,0.912532,-0.562826,-0.879784,0.879784
7268,-1.131708,1.132901,-0.528699,1.010604,-0.875800,1.123151,1.016361,0.912532,-0.562826,-0.879784,0.879784
7269,-1.229446,-0.882690,-0.528699,1.010604,-0.875800,1.123151,-0.983902,0.912532,-0.562826,-0.879784,0.879784

In [5]:
df = np.array(df)

In [6]:
predictions = modelo_importado.predict(df)

c:\Users\lour2\miniconda3\envs\deep_learning\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [7]:
predictions

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [8]:
np.unique(predictions)

array([0, 1], dtype=int64)

In [9]:
valores_unicos, cuentas = np.unique(predictions, return_counts=True)

# Combina los valores Ãºnicos y las cuentas en un diccionario
conteo_dict = dict(zip(valores_unicos, cuentas))

# Imprime el resultado
print(conteo_dict)

{0: 3314, 1: 3956}